html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #d7cec7;
	color: #565656;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: -apple-system-ui-serif, ui-serif, Georgia, serif;
}
div#inner-body {
	background-color: #f4f2f0;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

h2 {
	font-size: 1.2em;
	font-weight: 600;
	margin: 20px 0;
}
a {
	color: #76323f;
}
a:visited {
	color: #6c2d3c;
}
small {
	font-size: 0.9em;
}

div.navbar {
	width:  100%;
	margin: 0;
	/*padding: 20px 0;*/
	background-color: #d7cec7;

	/* Fixed navbar code */
	position: fixed;
	top: -100px;
	padding: 120px 0 20px 0;
}
div.navbar div.inner {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 20px;
}
div.navbar h1 {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	display: inline;
	text-transform: uppercase;
	/*max-height: 22px;*/
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-grow: 3;
}
div.navbar a {
	text-decoration: none;
}
div.navbar a:visited {
	color: #76323f
}
div.navbar form {
	margin: 0;
	padding: 0;
}
div.navbar form input {
	background-color: #f4f2f0;
	border: 1px solid #c0b1a5;
	border-radius: 5px;
	/*margin: -2px auto;*/
	/*padding: 3px 5px;*/
	padding: 1px 5px;
	color: #333;
	font-size: 12pt;
	width: 90px;
	-webkit-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
	flex-grow: 1;
}
div.navbar form input:focus {
	width: 170px;
	flex-grow: 9;
}

div#content {
	max-width: 760px;
	margin: 0 auto;
	/*padding: 20px;*/

	/* Fixed navbar code */
	padding: 83px 20px 20px 20px;
}
div#content p {
	line-height: 1.5;
}
div#content li {
	line-height: 1.2;
	padding-bottom: 0.3em;
}
span.placeholder {
	color: #565656;
	font-style: italic;
	opacity: 0.75;
}

div.footer {
	max-width: 760px;
	margin: 0 auto;
	padding: 0 0 20px 0;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size:  0.8em;
	text-align: center;
}
div.footer a, div.footer a:visited {
	color: #565656;
}
div.footer .coda {
	width: 64px;
	height: 64px;
}

button {
	padding: 10px 15px;
	background-color: #f6f6f6;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #555;
	text-align: center;	
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	-webkit-appearance: none;
}
.button-group button:first-child {
	margin-left: 0;
	margin-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.button-group button:last-child {
	margin-left: 0;
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
button:hover {
	background-color: #fff;
}
button.current {
	background-color: #fff;
	color: #565656;
}
div#pronouns {
	display: none;
}

ol.breadcrumb {
	list-style: none;
	margin: 0 0 40px 0;
	padding: 0;
	font-size: 0.9em;
}
ol.breadcrumb li {
	display: inline;
}
ol.breadcrumb li+li:before {
	/*content: '\003e\00a0';*/
	content: '\00BB\00a0';
	font-size: 0.9em;
}

div.tags {
	margin: 40px 0;
	font-size: 0.9em;
}	
div.tags ul {
	display:  inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
div.tags ul li {
	display: inline;
}
div.tags ul li:after {
	content: ',';
}
div.tags ul li:last-child:after {
	content: '' !important;
}

/* Tipue search */
#tipue_search_results_count {
	font-size: 0.9em;
}
.tipue_search_content_url {
	display: none;
}
.tipue_search_content_text {
	font-size: 0.9em;
	font-style: italic;
	word-wrap: break-word;
	hyphens: auto;
}
#tipue_search_foot {
	margin: 40px 0 20px 0;
}
#tipue_search_foot_boxes {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}
#tipue_search_foot_boxes li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
#tipue_search_foot_boxes li a {
	padding: 10px 15px;
	background-color: #f6f6f6;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #555;
	margin-right: 7px;
	text-decoration: none;
	text-align: center;
}
#tipue_search_foot_boxes li.current {
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #565656;
	margin-right: 7px;
	text-align: center;
}
#tipue_search_foot_boxes li a:hover {
	background-color: #fff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #ccc;
	}
	div#inner-body {
		background-color: #222;
	}
	a {
		color: #ccc;
	}
	a:visited {
		color: #aaa;
	}
	div.navbar {
		background-color: #111;
		color: #fff;
	}
	div.navbar a, div.navbar a:visited {
		color: #fff;
	}
	div.navbar form input {
		background-color: #333;
		border-color: #000;
		color: #eee;
	}
	button {
		background-color: #111;
		border-color: #000;
		color: #ddd;
	}
	button:hover {
		background-color: #181818;
	}
	button.current {
		background-color: #181818;
		color: #eee;
	}
	#tipue_search_foot_boxes li a {
		background-color: #111;
		border-color: #000;
		color: #ddd;
	}
	#tipue_search_foot_boxes li.current {
		background-color: #181818;
		border-color: #000;
		color: #eee;
	}
	#tipue_search_foot_boxes li a:hover {
		background-color: #181818;
	}
}
