html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f4f2f0;
	color: #565656;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: 'New York', Georgia, serif;
}


a {
	color: #76323f;
}
a:visited {
	color: #6c2d3c;
}
small {
	font-size: 0.9em;
}
/* #c09f80 */


.navbar {
	background-color: #d7cec7;
	margin: 0;
	padding: 20px;
}
.navbar .inner {
	max-width: 760px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 20px;
}
.navbar h1 {
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
	font-size: 1em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	display: inline;
	text-transform: uppercase;
}
.navbar a {
	text-decoration: none;
}
.navbar a:visited {
	color: #76323f
}
.navbar form {
	margin: 0;
	padding: 0;
	float: right;
}
.navbar form input {
	background-color: #f4f2f0;
	border-color: #c0b1a5;
	color: #333;
	font-size: 12pt;
	width: 120px;
}

div#content {
	max-width: 760px;
	margin: 0 auto;
	padding: 20px;
}


@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #ccc;
 	}
	a {
		color: #ccc;
	}
	a:visited {
		color: #aaa;
	}
	.navbar {
		background-color: #111;
		color: #fff;
	}	
	.navbar a, .navbar a:visited {
		color: #fff;
	}
	.navbar form input {
		background-color: #080808;
		border-color: #000;
		color: #eee;
	}
}


ol.breadcrumb {
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0.9em;
}
ol.breadcrumb li {
	display: inline;
}
ol.breadcrumb li+li:before {
	content: '\003e\00a0';
}

