html {
	margin: 0;
	padding: 0;
}
body {
	background-color: #f4f2f0;
	color: #565656;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	font-family: 'New York', Georgia, serif;
}


a {
	color: #76323f;
}
a:visited {
	color: #6c2d3c;
}
small {
	font-size: 0.9em;
}
/* #c09f80 */


div.navbar {
	background-color: #d7cec7;
	margin: 0 0 20px 0;
	padding: 20px;
}
div.navbar div.inner {
	max-width: 760px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	gap: 20px;
}
div.navbar h1 {
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: 600;
	margin: 0;
	padding: 0;
	display: inline;
	text-transform: uppercase;
}
div.navbar a {
	text-decoration: none;
}
div.navbar a:visited {
	color: #76323f
}
div.navbar form {
	margin: 0;
	padding: 0;
	float: right;
}
div.navbar form input {
	background-color: #f4f2f0;
	border-color: #c0b1a5;
	color: #333;
	font-size: 12pt;
	width: 150px;
}

div#content {
	max-width: 760px;
	margin: 0 auto;
	padding: 20px;
}

button {
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #565656;
	text-align: center;	
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
	-webkit-appearance: none;
}
button:hover {
	background-color: #f6f6f6;
}
button#pronounToggle {
	display: none;
}

ol.breadcrumb {
	list-style: none;
	margin: 0 0 40px 0;
	padding: 0;
	font-size: 0.9em;
}
ol.breadcrumb li {
	display: inline;
}
ol.breadcrumb li+li:before {
	content: '\003e\00a0';
}

div.tags {
	margin: 40px 0;
	font-size: 0.9em;
}	
div.tags ul {
	display:  inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
div.tags ul li {
	display: inline;
}
div.tags ul li:after {
	content: ',';
}
div.tags ul li:last-child:after {
	content: '' !important;
}

/* Tipue search */
#tipue_search_results_count {
	font-size: 0.9em;
}
.tipue_search_content_title {
	margin: 1em 0 0.5em 0;
	font-weight:  bold;
}
.tipue_search_content_url {
	display:  none;
}
.tipue_search_content_text {
	font-size: 0.9em;
	word-wrap: break-word;
	hyphens: auto;
}

#tipue_search_foot {
	 margin: 40px 0 20px 0;
}
#tipue_search_foot_boxes {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}
#tipue_search_foot_boxes li {
	list-style: none;
	margin: 0;
	padding: 0;
	display: inline;
}
#tipue_search_foot_boxes li a {
	padding: 10px 15px;
	background-color: #fff;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #565656;
	margin-right: 7px;
	text-decoration: none;
	text-align: center;
}
#tipue_search_foot_boxes li.current {
	padding: 10px 15px;
	background-color: #f6f6f6;
	border: 1px solid #d7cec7;
	border-radius: 5px;
	color: #555;
	margin-right: 7px;
	text-align: center;
}
#tipue_search_foot_boxes li a:hover {
	background-color: #f6f6f6;
}



@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #ccc;
	}
	a {
		color: #ccc;
	}
	a:visited {
		color: #aaa;
	}
	.navbar {
		background-color: #111;
		color: #fff;
	}	
	.navbar a, .navbar a:visited {
		color: #fff;
	}
	.navbar form input {
		background-color: #000;
		border-color: #000;
		color: #eee;
	}
	#tipue_search_foot_boxes li a {
		background-color: #111;
		border-color: #000;
		color: #ddd;
	}
	#tipue_search_foot_boxes li.current {
		background-color: #181818;
		border-color: #000;
		color: #eee;
	}
	#tipue_search_foot_boxes li a:hover {
		background-color: #181818;
	}
}

