<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{this.title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="apple-mobile-web-app-title" content="Prayers">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		{% set url_prefix = '' %}
		{% if site.baseurl %}
			{% set url_prefix = '/' + site.baseurl %}
		{% endif %}
		<link rel="icon" type="image/png" href="{{url_prefix + '/images/favicon-32.png'}}">
		<link rel="apple-touch-icon" href="{{url_prefix + '/images/touch-icon-1024.png'}}">
		<!--
			<link rel="apple-touch-icon" sizes="120x120" href="{{url_prefix + '/images/touch-icon-120.png'}}">
			<link rel="apple-touch-icon" sizes="152x152" href="{{url_prefix + '/images/touch-icon-152.png'}}">
			<link rel="apple-touch-icon" sizes="167x167" href="{{url_prefix + '/images/touch-icon-167.png'}}">
			<link rel="apple-touch-icon" sizes="180x180" href="{{url_prefix + '/images/touch-icon-180.png'}}">
		-->
		<link href="{{url_prefix + '/css/style.css'}}" rel="stylesheet" media="screen">

		<script>
			(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(chref=d.href).replace(e.href,"").indexOf("#")&&(!/^[a-z\+\.\-]+:/i.test(chref)||chref.indexOf(e.protocol+"//"+e.host)===0)&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone");
		</script>
		{% block head_addon %}
		{% endblock %} 
	</head>

	<body>

	<div class="navbar">
		<div class="inner">

			<h1><a href="{{url_prefix + '/'}}">{{site.brand}}</a></h1>

			<form action="{{url_prefix + '/search.html'}}" role="search">
				<input type="text" required name="q" id="tipue_search_input" class="form-control" placeholder="Search"> 
			</form>

		</div>
	</div>
	
	<div id="content">

		{% block body %}
		{% endblock %}

		{% block body_addon %}
		{% endblock %} 

	</div>

	{% include 'footer.html' %}

	</body>
</html>
