{% extends "_base.html" %}

{% block head_addon %}
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"name": "Occasional Prayers",
				"url": "https://occasionalprayers.com/"
			}
		</script>
{% endblock %} 

{% block home %} 
{% endblock %}

{% block body %}

<p>{{this.tagline}}</p>

<h2>Prayers</h2>

<ul>
	{% for item in this.content %}
	<li>
		<a href="{{item.url}}">{{item.title}}</a>
		{% if item.attribution %}
		<small><em>{{item.attribution}}</em></small>
		{% endif %}
	</li>
	{% endfor %}
</ul>

{% endblock %}
