{% extends "_base.html" %}

{% block head_addon %}
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "WebSite",
				"name": "Occasional Prayers",
				"alternateName" : "Occasional Prayers — Book of Common Prayer",
				"url": "https://occasionalprayers.com/",
				"potentialAction": {
        			"@type": "SearchAction",
        			"target": {
          				"@type": "EntryPoint",
          				"urlTemplate": "https://www.occasionalprayers.com/search.html?q={search_term_string}"
        			},
        			"query-input": "required name=search_term_string"
      			}
			}
		</script>
{% endblock %} 

{% block home %} 
{% endblock %}

{% block body %}

<p>{{this.tagline}}</p>

<h2>Prayers</h2>

<ul>
	{% for item in this.content %}
	<li>
		<a href="{{item.url}}">{{item.title}}</a>
		{% if item.attribution %}
		<small><em>{{item.attribution}}</em></small>
		{% endif %}
	</li>
	{% endfor %}
</ul>

{% endblock %}
