{% extends "_base.html" %}

{% block body %}

  {% block breadcrumbs %}
  {% if this.breadcrumbs %}
  <ol class="breadcrumb">
    <li><a href="{{url_prefix + '/'}}">Home</a></li>
      {% for bc in this.breadcrumbs[:-1] %}
      <li><a href="{{bc.url}}">{{bc.title}}</a></li>
      {% endfor %}
      <!--<li class="active">{{this.breadcrumbs[-1].title}}</li>-->
  </ol>
  {% endif %}
  {% endblock %}

  <div class="page-header">
    {% block title %}
    <h2>{{this.title}}</h2>
    {% endblock %}
    {% if this.attribution %}
    <small><em>{{this.attribution}}</em></small>
    {% endif %}
  </div>

  {% block content %}
  <main>
    {{this.body}}
  </main>
  {% endblock %}

  {% block tags %}
  {% if this.tags %}
  <div class="tags">
  Topics:
  {% for tag in this.tags %}
    <a href="{{url_prefix + '/tag/' + tag}}">{{tag}}</a> 
  {% endfor %}
  </div>
  {% endif %}
  {% endblock %}

<button onclick="togglePronouns()">Toggle pronouns</button>

<script>
  pronouns = 'male';
  function togglePronouns() {
    p = document.getElementsByTagName('main')[0];
    if (pronouns == 'male') {
      temp = p.innerHTML.replace(/<em>him<\/em>/gi, '<em data-t="obj">her</em>');
      temp = temp.replace(/<em>his<\/em>/gi, '<em data-t="pos">her</em>');
      temp = temp.replace(/<em>he<\/em>/gi, '<em>she</em>');
      pronouns = 'female';
    } else {
      temp = p.innerHTML.replace(/<em data-t="obj">her<\/em>/gi, '<em>him</em>');
      temp = temp.replace(/<em data-t="pos">her<\/em>/gi, '<em>his</em>');
      temp = temp.replace(/<em>she<\/em>/gi, '<em>he</em>');
      pronouns = 'male';
    }
    p.innerHTML = temp;
  }
</script>

{% endblock %}
