{% extends "_base.html" %}

{% block body %}

	{% block breadcrumbs %}
		{% if this.breadcrumbs %}
		<ol class="breadcrumb">
			<li><a href="{{url_prefix + '/'}}">Home</a></li>
			{% for bc in this.breadcrumbs[:-1] %}
				<li><a href="{{bc.url}}">{{bc.title}}</a></li>
			{% endfor %}
			<!--<li class="active">{{this.breadcrumbs[-1].title}}</li>-->
		</ol>
		{% endif %}
	{% endblock %}

	<div class="page-header">
		{% block title %}
		<h2>{{this.title}}</h2>
		{% endblock %}
		{% if this.attribution %}
		<small><em>{{this.attribution}}</em></small>
		{% endif %}
	</div>

	{% block content %}
		<main>
		{{this.body}}
		</main>

		<div id="pronouns" class="button-group">
			<button onclick="togglePronouns('f')" id="toggleF">Female</button><button onclick="togglePronouns('m')" id="toggleM" class="current">Male</button>
		</div>
	{% endblock %}

	{% block tags %}
		{% if this.tags %}
		<div class="tags">
			Categories & attributions: 
			<ul>
			{% for tag in this.tags %}
				<li><a href="{{url_prefix + '/tag/' + tag}}">{{tag}}</a></li>
			{% endfor %}
			</ul>
		</div>
		{% endif %}
	{% endblock %}

	<script src="{{url_prefix + '/js/format.js'}}"></script>

{% endblock %}
